img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.image-container {
  display: flex;
  flex-direction: center;
  align-items: center;
}

.image {
  transition: all 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}
